.movie_div{
    border: 2px solid black;
    background-color: black;
    padding: 50px;
    width:400px;
    height:fit-content;
    border-radius:10px;
    margin:20px;
    
}
a{
    text-decoration: none;
    font-size: larger;
    color: white;
}
.movie_link{
    color: blue;
}
.movie_link:hover{color:yellow;}
.movie_name{
    font-size: xx-large;
    color: red;
}
h1{
    background-color: blueviolet;
    padding: 10px;
    margin:0;
    color:aqua;
}